@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply antialiased text-gray-900 bg-gradient-to-br from-gray-50 to-gray-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}